:root {
  --sombra-s: inset 0 1px 2px rgba(255, 255, 255, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.1);
  --sombra-m: inset 0 1px 2px rgba(255, 255, 255, 0.5),
    0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.1);
  --sombra-l: inset 0 1px 2px rgba(255, 255, 255, 0.75),
    0 4px 6px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.1);
}
.login{
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.loginForm{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--sombra-l);
}
.loginForm h2{
  font-size: 30px;
}
.loginForm input{
  background-color: rgb(227, 227, 227);
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: var(--sombra-m);
  width: 100%;
}
.loginForm button{
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: var(--sombra-m);
  background-color: rgb(227, 227, 227);
}