:root {
  --sombra-s: inset 0 1px 2px rgba(255, 255, 255, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.1);
  --sombra-m: inset 0 1px 2px rgba(255, 255, 255, 0.5),
    0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.1);
  --sombra-l: inset 0 1px 2px rgba(255, 255, 255, 0.75),
    0 4px 6px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.1);
}
.gestion{
  display: flex;
  height: 100svh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.tarjetaGestion{
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: var(--sombra-l);
  gap: 10px;
}
.tarjetaGestion h1{
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: 600;
}
.tarjetaGestion p{
  font-size: larger;
  display: flex;
  justify-content: space-between;
}
.tarjetaGestion button{
  padding: 10px;
  border-radius: 10px;
  font-size: larger;
  font-weight: bold;
  color: rgb(137, 0, 0);
  border: 2px solid rgb(131, 0, 0);
  background-color: rgb(255, 119, 119);
}


