@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

* {
  font-family: "Sora", sans-serif;
  padding: 0;
  margin: 0;
  gap: 0;
  box-sizing: border-box; 
}
:root {
  --sombra-s: inset 0 1px 2px rgba(255, 255, 255, 0.25),
    0 1px 2px rgba(0, 0, 0, 0.25), 0 2px 4px rgba(0, 0, 0, 0.1);
  --sombra-m: inset 0 1px 2px rgba(255, 255, 255, 0.5),
    0 2px 4px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.1);
  --sombra-l: inset 0 1px 2px rgba(255, 255, 255, 0.75),
    0 4px 6px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.1);
}
.headerMain {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  color: white;
  background-color: black;
}
.headerMain h1{
  font-size: xx-large;
  font-weight: 500;
}
main {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
main h2{
  font-size: 25px;
}
.listaServicios {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.servicio {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  font-size: larger;
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: var(--sombra-m);
}
.servicio .infoServicio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.servicio .precio {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
}
.precio button {
  background-color: rgb(226, 226, 226);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: var(--sombra-s);
}
.overlayModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  gap: 10px;
}
.modal h2{
  font-size: 25px;
  font-weight: 600;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form label{
  font-size: 20px;
}
.form input{
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}
.datosForm{
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.listaHoras{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.listaHoras[data-estado="nada"]{
  display: flex;
  flex-direction: column;
}
.listaHoras button{
  font-size: larger;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.listaHoras button.seleccionada{
  background-color: black;
  color: white;
  transition: all 0.5s ease;
}
.btnsForm{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.btnsForm button{
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--sombra-m);
}
#confirmarCita{
  background-color: black;
  color: white;
}